* {
    padding: 0;
    margin: 5px;
    text-align: center;
  }
  body {
    background-color:#c6c6c6;
  }
  .calculator {
    width: 200px;
    height: 500px;
    background-color: #3b3838;
    box-shadow: 0px 0px 0px 10px rgb(0, 0, 0);
    border: 5px solid black;
    border-radius: 20px;
    margin : 0 auto;
    margin-top: 100px;
    padding: 0px;
  }
  #display {
    width: 200px;
    height: 40px;
    text-align: right;
    background-color: rgb(211, 200, 200);
    border: 3px solid rgb(71, 38, 38);
    font-size: 18px;
    left: 10px;
    top: 2px;
    color: #df2525;
    border-radius: 15px;
    /* right: 10px; */
  }
  .btnTop{
    color: white;
    background-color: #0000003b;
    font-size: 14px;
    margin: auto;
    width: 50px;
    height: 20px;
    border-radius: 10px;
  }
  .btnNum {
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: 14px;
    margin: auto;
    width: 50px;
    height: 25px;
    border-radius: 10px;
    
  }
  .btnMath {
    color: white;
    background-color: #ff4561;
    font-size: 14px;
    margin: auto;
    width: 50px;
    height: 20px;
    border-radius: 10px;
  }
  .btnOpps {
    color: white;
    background-color: #442d15;
    font-size: 14px;
    margin: auto;
    width: 50px;
    height: 20px;
    border-radius: 10px;
  }
    input.trig {
   
        color: white;
        background-color: #a80404;
        font-size: 14px;
        margin: auto;
        width: 50px;
        height: 20px;
        border-radius: 10px;
      }
  }